.padding-sm {
  padding: 0.625rem;
}

.padding-xl {
  padding: 3.75rem;
}

.padding-h {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.padding-v {
  padding-right: 0!important;
  padding-left: 0!important;
}

.no-padding {
  padding: 0!important;
}

.no-padding-left {
  padding-left: 0!important;
}

.no-padding-right {
  padding-right: 0!important;
}

.margin-medium {
  margin: 1.25rem;
}

.margin-top {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}
