.padding-sm {
  padding: 0.625rem;
}

.padding-h {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.padding-v {
  padding-right: 0!important;
  padding-left: 0!important;
}

.no-padding {
  padding: 0!important;
}
