.padding-xs {
  padding: 0.3125rem
}

.padding-sm {
  padding: 0.625rem;
}

.padding-md {
  padding: 1.25rem
}

.padding-lg {
  padding: 2.5rem;
}

.padding-xl {
  padding: 3.75rem;
}

.padding-h {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.padding-v {
  padding-right: 0!important;
  padding-left: 0!important;
}

.no-padding {
  padding: 0!important;
}

.no-padding-left {
  padding-left: 0!important;
}

.no-padding-right {
  padding-right: 0!important;
}

.no-padding-top {
  padding-top: 0!important;
}

.margin-xs {
  margin: 0.3125rem
}

.margin-sm {
  margin: 0.625rem
}

.margin-md {
  margin: 1.25rem;
}

.margin-lg {
  margin: 2.5rem
}

.margin-xl {
  margin: 3.75rem
}

.margin-top {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.margin-h {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.margin-v {
  margin-right: 0!important;
  margin-left: 0!important;
}

.sw-line-height-md {
  line-height: 1.2em
}

.sw-line-height-lg {
  line-height: 1.4em
}
