.text-centered {
  text-align: center;
}

.sw-bold {
  font-weight: $font-weight-bold;
}

.super-xxl-text {
  font-size: 5rem
}

.super-xl-text {
  font-size: 4.0625rem;
}

.super-lg-text {
  font-size: 3.1875rem
}

.super-md-text {
  font-size: 2.3125rem
}

.super-sm-text {
  font-size: 1.5625rem
}

.sm-text {
  font-size: 0.9375rem
}

.xs-text {
  font-size: 0.8125rem;
}
